* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
    }

.nav1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(44,118,238);
    color: white;
    width: 100%;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 8px solid #e5e5e5;
    text-align: center;
}
.button{
    border-right: 1px solid white;
    width: 20%;
    margin: 0 auto;
    height: 100%;
}

.button input{
    padding:8px;
    color:white;
    background-color: transparent;
    font-size: 14px;
    border-width:3px;
    border-color: white;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}

.title {
    width: 50%;
    text-align: left;
    padding-bottom: 10px;
    border-right: 1px solid white;
    padding-left: 20px;
}

p.title {
    font-size: 24px;
}

.p-title a {
    color: white;
    font-size: 14px;
}

.view {
    width: 10%;
    border-right: 1px solid white;
    margin: 0 auto;
    padding-top: 15px;
}

.view a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.link {
    width: 20%;
    padding-top: 15px;
}

.link a {
    color: white;
    font-size: 14px;
    border-bottom: 1px solid white;
}

.nav2 {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
}

div.dropdown  ul{
    display: flex;
    padding: 10px 3px;
}

ul.about {
    display: flex;
    padding: 10px 3px;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 0 6px;
}

li {
    display: block;
}

li:hover {
    cursor: pointer;
  }

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }

  ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.nav3{
    display:flex;
flex-direction: row;
background-color:whitesmoke;
color: grey;
justify-content: space-between;
height: 50px;
padding-top: 20px;

}

.nav3 ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    color: black;


}
.nav3 li{
    padding-right: 7px;
}

.latest a{
    text-decoration: none;
    color: grey;
    font-size: 18px;
}
.nav4{

    padding-top: 10px;
    background-color: yellow;
    height: 35px;
}
.nav4 a{
    text-decoration: none;
    column-count: black;
}

